body,
h1,
p {
    margin: 0;
    font-family: "Bricolage Grotesque", serif;

}


header {
    background-color: #52b4e6;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navigate {
    display: flex;
    padding: 0px 10px;
    margin: 10px;


}

nav {
    display: flex;
    gap: 15px;
}

p {
    margin: 0;
    font-family: "Bricolage Grotesque", serif;
    padding-top: 10px;
}


a {

    font-family: "Bricolage Grotesque", serif;
    list-style-type: none;
    padding: 10px 20px;
    font-weight: 1000;
    font-size: 20px;
    color: #000000;
    text-decoration: none;

}

hr {
    height: 3px;
    background-color: #52b4e6;
    border: none;
    width: 170px;
    margin: 10px 0;
    text-align: left;

}

a:hover {
    /* font-family: "Doto", serif;  */
    color: #f3f3f3;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;


}

.company-name {
    display: flex;
    float: left;
    padding: 0px 10px;
    margin: 10px;
}

#name {
    color: #24292f;
    font-size: 500;
    background-color: rgba(255, 255, 255, 0);

}

sup {
    font-size: 60;
    color: #24292f;
    padding: 0px 8px;
}

.container {
    background-color: #f6f8fa;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;


}

.home-text {
    padding: 10px 50px;
    font-size: 30px;
    width: 87%;


}

#line {
    margin: 0;
    padding-right: 10px;
    font-family: "Bricolage Grotesque", serif;
    color: rgb(255, 128, 0);
}

.plin {
    display: flex;
}

.home-image {
    width: 50%;
    display: flex;
}

img {
    display: flex;
    width: 90vh;
    height: 90vh;

}

.container-1 {
    background-color: #f6f8fa;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.contact-form {
    background-color: white;
    width: 428px;
    border-radius: 10px;
    box-shadow: 0px 16px 26px rgba(50, 50, 50, 0.2);
}

.form-heading {
    text-align: center;
    padding: 10px 16px;
    border-bottom: 1px solid #ccc;
    letter-spacing: 1px;
    background-color: #52b4e6;
    border-radius: 10px 10px 0px 0px;
}

.input-fields {
    padding: 14px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
}

.half-width {
    width: 48%;
    display: flex;
}

.full-width {
    width: 100%;
    display: flex;
}

#h2 {
    margin: 0;
    padding-bottom: 7px;
    padding: 2px;
    letter-spacing: 5px;
}

#p {
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    padding-top: 0px;

}

label,
textarea {
    color: #606770;
    font-size: 12px;
    padding-bottom: 10px;
}

textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    width: 100%;
    height: 200px;
    resize: none;

}

.signup-btn {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.main-btn {
    display: flex;
    width: 50%;

}

.btn-input {

    background-color: #52b4e6;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    animation: ease-in-out;

}

.btn-input:hover {
    background-color: #008bd1;
    cursor: pointer;
}